.video_row {
    display: flex;
    margin-bottom: 30px;
    max-width: 700px;
}

.video_row > img {
    object-fit: fill;
    width: 246px;
    height: 130px;
}

.video_row_text {
    margin-left: 14px;
}

.video_row_subs {
    background-color: lightgray;
    padding: 2px;
}

.video_row_desc {
    margin-top: 20px;
    font-size: 12px;
    color: #606060;
}

.video_row_headline {
    font-size: 12px;
    color: #606060;
    margin-top: 5px;
}

.video_row_subs_num {
    font-weight: bolder;
    color: rgb(84, 157, 211);
}

